/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Centrer les éléments dans un conteneur principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Top Bar */
.top-bar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.top-bar .contact-info {
    display: flex;
    align-items: center;
}

.top-bar .contact-info a {
    margin-right: 20px;
    color: #666;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.top-bar .contact-info a img {
    height: 16px;
    margin-right: 8px;
}

/* Header and Navigation */
.logo-nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.logo img {
    height: 50px;
    max-width: 100%;
}

nav {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.menu > li {
    margin: 0 5px;
    background-color: #f8f8f8;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.menu > li > a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    background-color: #f8f8f8;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    white-space: nowrap;
    width: 100%; /* Assurez-vous que les liens prennent toute la largeur de leur conteneur */
    text-align: center; /* Centrez le texte */
    padding: 15px 0; /* Ajustez les valeurs de padding si nécessaire */
}

.menu > li.active > a {
    background-color: #007BFF;
    color: #fff;
}

.menu > li > a:hover {
    color: #fff;
    background-color: #007BFF;
    transform: scale(1.05);
}

.menu > li:hover {
    background-color: #007BFF;
}

/* Image de fond */
.image_de_fond {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('assets/logo_mid.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.image_de_fond-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

/* Content Section */
.content {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.content, .sections, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.content p {
    line-height: 1.6;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.content ul li {
    margin-bottom: 10px;
}

/* Sections */
.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: -10px;
}

.section {
    position: relative;
    flex-basis: 30%;
    background-color: white;
    margin: 10px 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.section h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 10px 0;
    z-index: 2;
    font-size: 1.5em;
    color: #000;
}

.section img {
    width: 100%;
    height: 250px; /* Taille fixe pour uniformité */
    object-fit: cover;
    display: block;
    margin-top: 40px;
}

.section .section-text {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    margin: 10px 0; /* Ajouter plus d'espace entre les liens */
}

.section:hover .section-text {
    opacity: 1;
}

.section .section-text a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section .section-text a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Footer */
.footer {
    padding: 40px 0 20px;
    font-size: 14px;
    text-align: left;
    background-color: #f8f8f8;
    color: #666;
    border-top: 1px solid #ddd;
}

.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer .footer-section h3 {
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

.footer .footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer .footer-section ul li {
    margin-bottom: 10px;
}

.footer .footer-section ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    padding: 5px;
    border-radius: 5px;
}

.footer .footer-section ul li a img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.footer .footer-section ul li a:hover {
    color: #007BFF;
    background-color: #f4f4f4;
    transform: scale(1.05);
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
    color: black;
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer .footer-content {
        flex-direction: column;
    }

    .footer .footer-section {
        margin-bottom: 20px;
    }
}

/* Plan du Site Styles */
main.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.site-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-category {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
    padding-right: 10px; /* Ajoute un espace de 10px à droite pour l'alignement */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
}

.link-category h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    height: 40px; /* Hauteur uniforme pour les titres */
    display: flex;
    align-items: center;
}

.link-category ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Assure que les marges sont également à zéro */
}

.link-category ul li {
    margin-bottom: 10px;
}

.link-category ul li a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.link-category ul li a:hover {
    color: #0056b3;
}

/* Intro Section Styles */
.intro-section {
    padding: 20px;
}

.intro-content {
    display: flex;
    align-items: flex-start;
}

.intro-logo {
    flex: 0 0 auto;
    margin-right: 20px;
}

.intro-logo img {
    max-width: 150px;
}

.intro-text {
    line-height: 1.6;
    flex: 1;
}

.intro-text h1 {
    margin-top: 0;
    font-size: 24px;
}

.intro-text p {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .intro-content {
        flex-direction: column;
        text-align: center;
    }

    .intro-logo {
        margin-bottom: 20px;
    }

    .intro-text {
        margin-top: 20px;
    }
}

/* Carte et bouton plein écran */
.map-container {
    position: relative;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.3s ease;
}

#toggle-fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    z-index: 1000;
}

#toggle-fullscreen:hover {
    background: rgba(0, 0, 0, 0.9);
}

.fullscreen #map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    border-radius: 0;
    margin: 0;
}

.fullscreen #toggle-fullscreen {
    top: 20px;
    right: 20px;
}

/* Images Grid */
.image-grid img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Section logo SSIAP */
.ssiapp-logo {
    text-align: center;
    margin: 20px 0;
}

.ssiapp-logo img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.statistics .row {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    text-align: center; /* Centre le texte */
}

.statistics .stat-item {
    margin: 10px; /* Ajoute un peu d'espace entre les éléments */
}

/* Section pour uniformiser la hauteur */
.uniform-height {
    min-height: 300px; /* Ajustez cette valeur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.uniform-height p {
    margin: 0;
    padding: 0 20px;
}


/* Styles pour le carrousel */
.carousel-item {
    max-height: 600px; /* Ajustez cette valeur pour changer la taille de l'image */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-item img {
    width: auto;
    height: 100%;
    object-fit: contain;
    max-height: 600px; /* Assurez-vous que cette valeur correspond à celle de .carousel-item */
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Ajustez cette valeur si nécessaire */
    opacity: 0.8; /* Rendre les flèches un peu transparentes */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    border-radius: 50%; /* Rendre les flèches circulaires */
    padding: 10px; /* Ajouter du padding pour agrandir les icônes */
}
